body{
    background-image: url("https://c8.alamy.com/zooms/9/642467b537664769acccdfb82f7501ca/t7md3c.jpg"); 
    text-align: center;
    
   }
   h1{
     color: goldenrod;
   }
   h2{
     color: white;
   }
   #message-el{
     font-style: italic;
   }
   button{
     color: #016f32;
     width: 150px;
     background: goldenrod;
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: bold;
     border: none;
     border-radius: 2px;
     margin-top: 2px;
     margin-bottom: 2px;
   }